
:root {
    --dark: #292929;
    --lightDark: #616161;
    --white: #ffffff;
    --orange: #fe8529;
    --yellow: #eeb34b;
    --red: #e3394b;
    --lightRed: #fe4c6f;
    --darkBlue: #1d3557;
    --border: 0.1rem solid rgba(0, 0, 0, 0.1);
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }

  * {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    
  }
  html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
  }

.cartTable-container{
    height: 50%;
    padding: 10rem 9%;
    border-collapse: collapse;
}
.cartTable-container table tr:hover{
    background-color: #ddd;
}
.cart-info{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}


.cart-info img{
    height: 5rem;
    width: 5rem;
}
.cart-info a{
    color: var(--lightRed);
}
table{
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    
}
table, th, td{

}

th{
    text-align: left;
    padding: 5px;
    font-size: 1.8rem;
    color: var(--white);
    font-weight: normal;
    background: var(--red);
}
table td{
    padding: 1rem .5rem;
    font-size: 1.4rem;
}
table td input{
    width: 5rem;
    height: 2.5rem;
    border: 1px solid #616161 ;
    border-radius: 3px;
    padding: .5rem;
    text-align: center;

}
table td input:focus{
    border: 1px solid var(--lightRed);
}

.totalPrice{
    display: flex;
   
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}
.totalPrice .coupon{
    width: 50%;
  
    
    
}
.totalPrice .couponHeader{
    background: var(--red);
    color: var(--white);
    padding: 1rem 0 1rem 1rem;
}
.totalPrice .coupon p{
    font-size: 1.4rem;
    padding-left: 1rem;
    margin: 1rem 0;
}
.totalPrice .coupon input{
    border: 1px solid #c7c4c4;
    padding: 1rem;
    border-radius: 5px;
    margin-left: 1rem;
    margin-right: 2rem;

}
.totalPrice .coupon input:focus{
    border: 1px solid var(--lightRed);
}

.totalPrice table{
    border-top: 3px solid var(--red);
    width: 100%;
    width: 36rem;
}


td:last-child{
    text-align: right;

}
th:last-child{
    text-align: right;
}


.footer{
   
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30rem;
    /* padding: 1rem 1rem 0 1rem; */
}

@media(max-width: 1000px){
    .coupon{
       
    }
    .couponBtn{
        margin: 1rem 0 0 1rem;
    }

}