@import url("https://fonts.googleapis.com/css2?family=Atma:wght@500&family=Playfair+Display:ital,wght@0,800;1,400;1,500;1,600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100&display=swap");

:root {
  --dark: #292929;
  --lightDark: #616161;
  --white: #ffffff;
  --orange: #fe8529;
  --yellow: #eeb34b;
  --red: #e3394b;
  --lightRed: #fe4c6f;
  --darkBlue: #1d3557;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
section {
  padding: 2rem 9%;
}
.heading {
  text-align: center;
  padding-bottom: 2rem;
  font-size: 4.5rem;
  color: var(--dark);
}
.heading span {
  position: relative;
  z-index: 0;
  color: var(--red);
}
/* .heading span::before{
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background: var(--red);
  clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
} */

/* ===========Top============ */
.top {
  position: sticky;
  display: flex;
  padding: 0 9%;
  justify-content: end;
  top: 0;
  
  z-index: 999;
  background: #fff;

  /* border-bottom: 1px solid rgba(219, 208, 208, 0.8); */
}
.top .trackOrder{
  display: flex;
}
.top .trackOrder h6{
  font-size: 1.2rem;
  text-align: center;
  color: var(--lightRed);
  align-items: center;

  
}
.top span {
  height: 3rem;
  width: 3rem;
  color: var(--lightDark);
}
.top a:first-child{
  margin-right: 3rem;
  
}
/* ===========Top============ */
.header {
  position: fixed;

  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 0 9% 1rem 9%;
  box-shadow: var(--box-shadow);
}
.header .logo {
  font-size: 2.5rem;
  color: var(--dark);
  font-weight: bolder;
}
.header .logo span {
  color: var(--red);
}

/* Search */
.header form {
  min-width: 40%;
  height: 4rem;
  display: flex;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border-radius: 5rem;
}
.header form input[type="search"] {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--dark);
  text-transform: none;
  padding: 0 2rem;
  text-align: left;
}
.header form input[type="submit"] {
  height: 100%;
  width: 10rem;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--red);
  cursor: pointer;
}
.header form input[type="submit"]:hover {
  background: var(--lightRed);
}
/* Search */

.search-container {
  border: var(--border);
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.8em;
}
.search-container button {
  background: none;
  color: var(--red);
}

.header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: var(--dark);
}
.header .navbar a:hover {
  color: var(--red);
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: var(--red);
  color: var(--white);
  font-weight: 500;
  font-size: 1.7rem;
  cursor: pointer;
  padding: 0.8rem 3rem;
}
.btn:hover {
  background: #fe4c6f;
}

.header .login-btn span {
  font-size: 2.5rem;
  color: var(--dark);
  cursor: pointer;
  display: none;
}
#menu-btn {
  font-size: 2.5rem;
  color: var(--dark);
  cursor: pointer;
  display: none;
}
body {
  height: 300rem;
}
.header.active {
  box-shadow: var(--box-shadow);
  padding: 2rem 9%;
}

/* Login Form */
.login-form-container {
  position: fixed;
  top: -105%;
  left: 0;
  z-index: 1000;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}
.login-form-container form span {
  font-size: 8rem;
  color: var(--lightRed);
   
  
}

.login-form-container.active {
  top: 0;
  opacity: 1;
}
.login-form-container form {
  padding: 2rem;
  margin: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  background: #fff;
  border: var(--border);
  text-align: center;
  width: 40rem;
}
.login-form-container form .buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.login-form-container form .btn {
  display: block;
  width: 100%;
  margin: 0.5rem 0;
}
.login-form-container form h3 {
  color: var(--lightDark);
  font-size: 1.8rem;
  padding-bottom: 1rem;
  font-weight: 500;
}
.login-form-container form .box {
  margin: 0.7rem 0;
  width: 100%;
  color: var(--dark);
  font-size: 1.6rem;
  padding: 1rem 1.2rem;
  border: var(--border);
  border-radius: 0.5rem;
}
.login-form-container form p {
  padding: 1rem 0;
  font-size: 1.5rem;
  color: var(--lightDark);
}
.login-form-container form p a {
  color: var(--red);
  text-decoration: underline;
}
.login-form-container #login-form-close {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  font-size: 3rem;
  color: var(--dark);
  cursor: pointer;
}
/* Login Form End */
/* Home Banners */
.home {
  padding-top: 10rem;
  text-align: center;
  overflow-x: hidden;
}
.home h1 {
  font-size: 4.5vw;
  color: var(--dark);
}
.home img {
  width: 100%;
  height: 800px;
  margin: 1rem 0;
}

/* Home Banners End*/

.icons-container {
  padding: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
  background: #eee;
}
.icons-container .icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 4rem;
  background: #fff;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
}
.icons-container .icons i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background: var(--red);
  color: #eee;
  text-align: center;
}
.icons-container .icons .content h3 {
  color: var(--red);
  font-size: 2rem;
}
.icons-container .icons .content p {
  color: var(--lightDark);
  font-size: 1.5rem;
}
.icons-container .icons:hover {
  background: var(--red);
}
.icons-container .icons:hover i {
  background: var(--lightRed);
  box-shadow: var(--box-shadow);
  
}
.icons-container .icons:hover .content h3 {
  color: var(--white);
}
.icons-container .icons:hover .content p {
  color: var(--white);
}
/* Popular Parts */
.vehicles .heading{
  font-weight: 500;
  font-size: 3rem;
}
.vehicles .vehicles-slider {
  padding-bottom: 5rem;
}
.vehicles .vehicles-slider .box {
  text-align: center;
  width: 10rem;
}
.vehicles .vehicles-slider .box img {
  width: 70%;
  height: 70%;
  opacity: 0.5;
  transform: scale(0.8);
}
.vehicles .vehicles-slider .box .content {
  transform: scale(0);
  padding-top: 1rem;
}
.vehicles .vehicles-slider .box .content h3 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--dark);
}
.vehicles .vehicles-slider .box .content .price {
  font-size: 2rem;
  color: var(--red);
  padding: 1rem 0;
  font-weight: bolder;
}
.vehicles .vehicles-slider .box .content .price span {
  font-size: 1.7rem;
  color: var(--lightDark);
  font-weight: normal;
}
.vehicles .vehicles-slider .box .content p {
  font-size: 1.6rem;
  padding: 1rem;
  padding-top: 1.5rem;
  border-top: var(--border);
  color: var(--lightDark);
}
.vehicles .vehicles-slider .box .content p span {
  color: var(--red);
  font-size: 0.8rem;
  padding: 0 0.5rem;
}
.vehicles .vehicles-slider .swiper-slide-active img {
  opacity: 1;
  transform: scale(1);
}
.vehicles .vehicles-slider .swiper-slide-active .content {
  transform: scale(1);
}
.swiper-pagination-bullet-active {
  background: var(--red);
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--red);
  text-align: center;
  
}

/* Why Us */
.whyUs .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.whyUs .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
}
.whyUs .box-container .box ion-icon {
  height: 4rem;
  width: 4rem;
  line-height: 5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background: var(--red);
  color: #eee;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
}
.whyUs .box-container .box h3 {
  color: var(--dark);
  font-size: 2rem;
  font-weight: 500;
}
.whyUs .box-container .box p {
  color: var(--lightDark);
  font-size: 1.4rem;
  padding: 1rem 0;
  line-height: 1.8;
}

/* Why Us */

/* popular parts */
.popularParts .heading{
  font-size: 3rem;
  font-weight: 500;
}
.popularParts .popularParts-slider {
  padding: 1rem;
  padding-bottom: 4rem;
}
.popularParts .popularParts-slider .box {
  text-align: center;
  padding: 2rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  border-radius: 0.5rem;
}
.popularParts .popularParts-slider .box img {
  height: 40%;
  width: 40%;
  padding: 2rem;
}

.popularParts .popularParts-slider .box:hover img {
  transform: scale(0.9);
}
.popularParts .popularParts-slider .box h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark);
}
.popularParts .popularParts-slider .box .stars {
  padding: 1rem 0;
}
.popularParts .popularParts-slider .box .stars i {
  font-size: 1.7rem;
  color: var(--yellow);
}
.popularParts .popularParts-slider .box .price {
  font-size: 2rem;
  color: var(--dark);
}

/* Popular Parts End */

/* newsletter start */
.newsLetter {
  padding: 6rem 2rem;
  text-align: center;
  background: url(/images/banners/filter.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}
.newsLetter h2 {
  color: var(--white);
  font-size: 3rem;
}
.newsLetter p {
  color: var(--lightDark);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.newsLetter form {
  margin: 1rem auto;
  max-width: 60rem;
  height: 5rem;
  display: flex;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border-radius: 5rem;
}
.newsLetter form input[type="email"] {
  height: 100%;
  width: 100%;
  font-size: 1.6rem;
  color: var(--dark);
  text-transform: none;
  padding: 0 2rem;
}
.newsLetter form input[type="submit"] {
  height: 100%;
  width: 17rem;
  font-size: 1.7rem;
  color: var(--white);
  background: var(--red);
  cursor: pointer;
}
.newsLetter form input[type="submit"]:hover {
  background: var(--lightRed);
}
/* newsletter end */

/* contact us start */
.contact .heading{
  font-size: 3rem;
  font-weight: 500;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
.contact .row .map {
  flex: 1 1 42rem;
  width: 100%;
  padding: 2rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
}
.contact .row form {
  flex: 1 1 42rem;
  padding: 2rem;
  border: var(--border);
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  text-align: center;
}
.contact .row form h3 {
  font-size: 2rem;
  font-weight: 500;
  color: var(--dark);
}
.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  border: var(--border);
  padding: 1rem;
  font-size: 1.6rem;
  color: var(--dark);
  border-radius: 0.5rem;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

/* contact us end */

/* footer start */
.footer {
  background: var(--red);
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  color: var(--white);
  font-size: 2.5rem;
  padding: 1rem 0;
}
.footer .box-container .box a {
  color: black;
  font-size: 1.4rem;
  display: block;
}

.footer .box-container .box a ion-icon {
  padding-right: 0.5rem;
  color: black;
}
.footer .box-container .box a:hover ion-icon {
  padding-right: 2rem;
}
.footer .box-container .box .social a {
  display: inline-block;
  font-size: 2.5rem;
  padding-right: 0.5rem;
  margin-top: 1rem;
}

.copyright p {
  margin-top: 5rem;
  color: black;
  text-align: center;
  font-size: 1.4rem;
  border-top: var(--border);
}
/* footer end */

/* media quries */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 2rem;
  }
}
@media (max-width: 810px) {
  #menu-btn {
    display: block;
  }
  #menu-btn.fa-times {
    transform: rotate(180deg);
  }
  .header .login-btn span {
    display: block;
    font-size: 3.5rem;
    color: var(--lightDark);
    cursor: pointer;
  }
  .header .login-btn .btn {
    display: none;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: var(--border);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    display: block;
    margin: 2rem;
    font-size: 2rem;
    border-bottom: var(--border);
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
